In [76]:
try: 
    import tensorflow as tf
    import numpy as np
    from tensorflow.keras.models import Sequential
    from tensorflow.keras.layers import Dense, Flatten, Activation, Conv2D, MaxPooling2D, Dropout
    from tensorflow.keras.applications import InceptionV3
    from tensorflow.keras.callbacks import TensorBoard
    from keras_preprocessing.image import ImageDataGenerator
    from sklearn.model_selection import train_test_split
    import pickle
    import time 


except:
    print("gagal")

In [77]:
X = pickle.load(open("X.pickle", "rb"))
y = pickle.load(open("y.pickle", "rb"))


y=np.array(y)

In [78]:
print(X.shape, y.shape )

(200, 200, 200, 1) (200,)

In [75]:
print(X.shape)
print(y.shape)

(600, 200, 200, 1)
(200,)

In [52]:
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [79]:
import pandas as pd

ydf = pd.DataFrame(y)
ydf

     0
0    1
1    1
2    1
3    0
4    0
..  ..
195  0
196  0
197  1
198  0
199  1

[200 rows x 1 columns]

In [80]:
ydf2 = ydf.reindex(index=ydf.index[::-1])
ydf2.reset_index(inplace = True)
ydf2.columns

Index(['index', 0], dtype='object')

In [81]:
ydf2 = ydf2.drop('index', axis=1)
ydf2

     0
0    1
1    0
2    1
3    0
4    0
..  ..
195  0
196  0
197  1
198  1
199  1

[200 rows x 1 columns]

In [82]:
ydf_merged = pd.concat([ydf, ydf2], axis=1)
ydf_merged

     0  0
0    1  1
1    1  0
2    1  1
3    0  0
4    0  0
..  .. ..
195  0  0
196  0  0
197  1  1
198  0  1
199  1  1

[200 rows x 2 columns]

In [83]:
y = ydf_merged.to_numpy()
y

array([[1, 1],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [1, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [1, 1]])

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(f'train images shape: {X_train.shape}\ntrain labels shape: {y_train.shape}')
print('\n')
print(f'test images shape: {X_test.shape}\ntest labels shape: {y_test.shape}')

train images shape: (160, 200, 200, 1)
train labels shape: (160, 2)


test images shape: (40, 200, 200, 1)
test labels shape: (40, 2)

In [85]:
train_datagen = ImageDataGenerator(
    rescale=1./255,
    rotation_range=10,
    height_shift_range=0.2,
    width_shift_range=0.2,
    shear_range=0.1,
    zoom_range=0.2,
    fill_mode='nearest'
    )

train_generator = train_datagen.flow(
    X_train, y_train, batch_size=8
)
train_datagen = ImageDataGenerator(
    rescale=1./255,
    rotation_range=10,
    height_shift_range=0.2,
    width_shift_range=0.2,
    shear_range=0.1,
    zoom_range=0.2,
    fill_mode='nearest'
    )

train_generator = train_datagen.flow(
    X_train, y_train, batch_size=10
)
test_datagen = ImageDataGenerator(
    rescale=1./255,
    rotation_range=10,
    height_shift_range=0.2,
    width_shift_range=0.2,
    shear_range=0.1,
    zoom_range=0.2,
    fill_mode='nearest'
    )

test_generator = test_datagen.flow(
    X_test, y_test, batch_size=2
)

In [95]:
Name = 'model_covid_{}'.format(int(time.time()))
tensorboard = TensorBoard(log_dir='logs/{}'.format(Name))
model = Sequential()
#model.add(InceptionV3(weights='imagenet', include_top=False, input_shape=X.shape[1:]))

model.add(Conv2D(8, (2,2), input_shape = X_train.shape[1:]))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(32, (2,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(64, (2,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(128, (2,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(256, (2,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2)))


model.add(Flatten())
model.add(Dropout(0.2))

model.add(Dense(128))
model.add(Activation("relu"))

model.add(Dense(128))
model.add(Activation("relu"))

model.add(Dense(2))
model.add(Activation('sigmoid'))



model.compile(loss = 'binary_crossentropy', optimizer='adam', metrics = ['accuracy'])
model.fit(train_generator, epochs= 50, validation_data =test_generator )

Epoch 1/50
16/16 [==============================] - 5s 176ms/step - loss: 0.6946 - accuracy: 0.4187 - val_loss: 0.6950 - val_accuracy: 0.3250
Epoch 2/50
16/16 [==============================] - 2s 119ms/step - loss: 0.6908 - accuracy: 0.2062 - val_loss: 0.6898 - val_accuracy: 0.5000
Epoch 3/50
16/16 [==============================] - 2s 115ms/step - loss: 0.6802 - accuracy: 0.3750 - val_loss: 0.6421 - val_accuracy: 0.4250
Epoch 4/50
16/16 [==============================] - 2s 118ms/step - loss: 0.6438 - accuracy: 0.5125 - val_loss: 0.5876 - val_accuracy: 0.5750
Epoch 5/50
16/16 [==============================] - 2s 122ms/step - loss: 0.5672 - accuracy: 0.6687 - val_loss: 0.4807 - val_accuracy: 0.7000
Epoch 6/50
16/16 [==============================] - 2s 115ms/step - loss: 0.5195 - accuracy: 0.6375 - val_loss: 0.4906 - val_accuracy: 0.7250
Epoch 7/50
16/16 [==============================] - 3s 191ms/step - loss: 0.4779 - accuracy: 0.6812 - val_loss: 0.5007 - val_accuracy: 0.6750
Epoch 8/50
16/16 [==============================] - 3s 187ms/step - loss: 0.5466 - accuracy: 0.6687 - val_loss: 0.7479 - val_accuracy: 0.7000
Epoch 9/50
16/16 [==============================] - 3s 182ms/step - loss: 0.4934 - accuracy: 0.6625 - val_loss: 0.4570 - val_accuracy: 0.7500
Epoch 10/50
16/16 [==============================] - 3s 182ms/step - loss: 0.4372 - accuracy: 0.6812 - val_loss: 0.4146 - val_accuracy: 0.7750
Epoch 11/50
16/16 [==============================] - 3s 196ms/step - loss: 0.4090 - accuracy: 0.6875 - val_loss: 0.4683 - val_accuracy: 0.7750
Epoch 12/50
16/16 [==============================] - 3s 191ms/step - loss: 0.4195 - accuracy: 0.7000 - val_loss: 0.4126 - val_accuracy: 0.7500
Epoch 13/50
16/16 [==============================] - 3s 171ms/step - loss: 0.4213 - accuracy: 0.6687 - val_loss: 0.4409 - val_accuracy: 0.7250
Epoch 14/50
16/16 [==============================] - 3s 171ms/step - loss: 0.4234 - accuracy: 0.6812 - val_loss: 0.4310 - val_accuracy: 0.7750
Epoch 15/50
16/16 [==============================] - 2s 123ms/step - loss: 0.4306 - accuracy: 0.6625 - val_loss: 0.4376 - val_accuracy: 0.7750
Epoch 16/50
16/16 [==============================] - 2s 120ms/step - loss: 0.4185 - accuracy: 0.6875 - val_loss: 0.4401 - val_accuracy: 0.7500
Epoch 17/50
16/16 [==============================] - 2s 120ms/step - loss: 0.4125 - accuracy: 0.6875 - val_loss: 0.4707 - val_accuracy: 0.7250
Epoch 18/50
16/16 [==============================] - 2s 119ms/step - loss: 0.4304 - accuracy: 0.6625 - val_loss: 0.4346 - val_accuracy: 0.7500
Epoch 19/50
16/16 [==============================] - 2s 118ms/step - loss: 0.4165 - accuracy: 0.6938 - val_loss: 0.4387 - val_accuracy: 0.6750
Epoch 20/50
16/16 [==============================] - 2s 124ms/step - loss: 0.4016 - accuracy: 0.7000 - val_loss: 0.4265 - val_accuracy: 0.8000
Epoch 21/50
16/16 [==============================] - 2s 116ms/step - loss: 0.3964 - accuracy: 0.7063 - val_loss: 0.4696 - val_accuracy: 0.7500
Epoch 22/50
16/16 [==============================] - 2s 119ms/step - loss: 0.4172 - accuracy: 0.6750 - val_loss: 0.4512 - val_accuracy: 0.7750
Epoch 23/50
16/16 [==============================] - 2s 121ms/step - loss: 0.3912 - accuracy: 0.7000 - val_loss: 0.4020 - val_accuracy: 0.7750
Epoch 24/50
16/16 [==============================] - 2s 117ms/step - loss: 0.3809 - accuracy: 0.7063 - val_loss: 0.3934 - val_accuracy: 0.8000
Epoch 25/50
16/16 [==============================] - 2s 113ms/step - loss: 0.3885 - accuracy: 0.6938 - val_loss: 0.4584 - val_accuracy: 0.7750
Epoch 26/50
16/16 [==============================] - 2s 117ms/step - loss: 0.3958 - accuracy: 0.7000 - val_loss: 0.4265 - val_accuracy: 0.7250
Epoch 27/50
16/16 [==============================] - 2s 115ms/step - loss: 0.4591 - accuracy: 0.6500 - val_loss: 0.4696 - val_accuracy: 0.8000
Epoch 28/50
16/16 [==============================] - 2s 117ms/step - loss: 0.4338 - accuracy: 0.6875 - val_loss: 0.4813 - val_accuracy: 0.8000
Epoch 29/50
16/16 [==============================] - 2s 124ms/step - loss: 0.4410 - accuracy: 0.6875 - val_loss: 0.5519 - val_accuracy: 0.7500
Epoch 30/50
16/16 [==============================] - 2s 119ms/step - loss: 0.4121 - accuracy: 0.6938 - val_loss: 0.3953 - val_accuracy: 0.8000
Epoch 31/50
16/16 [==============================] - 2s 116ms/step - loss: 0.4028 - accuracy: 0.6875 - val_loss: 0.3901 - val_accuracy: 0.8000
Epoch 32/50
16/16 [==============================] - 2s 118ms/step - loss: 0.3882 - accuracy: 0.7063 - val_loss: 0.3933 - val_accuracy: 0.7750
Epoch 33/50
16/16 [==============================] - 2s 117ms/step - loss: 0.3773 - accuracy: 0.7063 - val_loss: 0.4163 - val_accuracy: 0.7500
Epoch 34/50
16/16 [==============================] - 2s 115ms/step - loss: 0.4171 - accuracy: 0.6812 - val_loss: 0.4300 - val_accuracy: 0.7750
Epoch 35/50
16/16 [==============================] - 2s 115ms/step - loss: 0.3767 - accuracy: 0.7063 - val_loss: 0.4336 - val_accuracy: 0.7500
Epoch 36/50
16/16 [==============================] - 2s 116ms/step - loss: 0.3862 - accuracy: 0.7063 - val_loss: 0.4116 - val_accuracy: 0.7250
Epoch 37/50
16/16 [==============================] - 2s 116ms/step - loss: 0.3841 - accuracy: 0.7063 - val_loss: 0.4131 - val_accuracy: 0.7750
Epoch 38/50
16/16 [==============================] - 2s 118ms/step - loss: 0.3875 - accuracy: 0.7063 - val_loss: 0.5309 - val_accuracy: 0.7250
Epoch 39/50
16/16 [==============================] - 2s 121ms/step - loss: 0.4279 - accuracy: 0.6625 - val_loss: 0.4323 - val_accuracy: 0.7250
Epoch 40/50
16/16 [==============================] - 2s 116ms/step - loss: 0.3812 - accuracy: 0.7188 - val_loss: 0.4093 - val_accuracy: 0.7750
Epoch 41/50
16/16 [==============================] - 2s 118ms/step - loss: 0.3957 - accuracy: 0.7063 - val_loss: 0.3620 - val_accuracy: 0.8000
Epoch 42/50
16/16 [==============================] - 2s 121ms/step - loss: 0.3795 - accuracy: 0.6938 - val_loss: 0.4040 - val_accuracy: 0.7500
Epoch 43/50
16/16 [==============================] - 2s 121ms/step - loss: 0.3619 - accuracy: 0.7063 - val_loss: 0.4127 - val_accuracy: 0.8000
Epoch 44/50
16/16 [==============================] - 2s 115ms/step - loss: 0.4007 - accuracy: 0.6938 - val_loss: 0.4321 - val_accuracy: 0.7500
Epoch 45/50
16/16 [==============================] - 2s 114ms/step - loss: 0.4031 - accuracy: 0.7125 - val_loss: 0.3869 - val_accuracy: 0.7750
Epoch 46/50
16/16 [==============================] - 2s 136ms/step - loss: 0.3740 - accuracy: 0.7063 - val_loss: 0.4881 - val_accuracy: 0.8250
Epoch 47/50
16/16 [==============================] - 2s 120ms/step - loss: 0.3696 - accuracy: 0.7063 - val_loss: 0.3875 - val_accuracy: 0.8250
Epoch 48/50
16/16 [==============================] - 2s 113ms/step - loss: 0.4075 - accuracy: 0.7125 - val_loss: 0.3872 - val_accuracy: 0.7500
Epoch 49/50
16/16 [==============================] - 2s 114ms/step - loss: 0.4103 - accuracy: 0.6687 - val_loss: 0.4419 - val_accuracy: 0.8500
Epoch 50/50
16/16 [==============================] - 2s 112ms/step - loss: 0.4095 - accuracy: 0.6938 - val_loss: 0.4655 - val_accuracy: 0.7500